<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FARMING-COR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <style>
        body {
            font-family: 'Arial', sans-serif;
        }

        table {
            width: 100%;
            margin-top: 20px;
        }

        th, td {
            text-align: center;
        }

        button {
            padding: 5px 10px;
            background-color: #ffc107;
            border: none;
            color: #212529;
            cursor: pointer;
            border-radius: 5px;
        }

        button:hover {
            background-color: #ffca2c;
        }

       
        .custom-btn {
            background-color: #ffc107;
            color: #212529;
        }

        .custom-btn:hover {
            background-color: #ffca2c;
        }
    </style>
</head>

<body class="p-3 mb-2 bg-warning text-black bg-opacity-10">

    <div>
        <div id="arriba">
            <nav class="navbar navbar-expand-lg p-3 mb-2 bg-warning bg-gradient text-white bg-opacity-50">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><img src="./assets/logo.png" alt="Logo" height="50px" width="50px"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-warning text-body" routerLink="/registrados">Volver</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <h3 class="card-title">Registro</h3>
                        </div>
                        <br>
                        
                        <form>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="nombre1" class="form-label">Primer Nombre:</label>
                                    <input type="text" ngModel="nombre1" class="form-control" id="nombre1" name="nombre1" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="nombre2" class="form-label">Segundo Nombre:</label>
                                    <input type="text" ngModel="nombre2" class="form-control" id="nombre2" name="nombre2">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="apellido1" class="form-label">Primer Apellido:</label>
                                    <input type="text" ngModel="apellido1" class="form-control" id="apellido1" name="apellido1" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="apellido2" class="form-label">Segundo Apellido:</label>
                                    <input type="text" ngModel="apellido2" class="form-control" id="apellido2" name="apellido2" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="Num_Doc" class="form-label">Núm documento:</label>
                                    <input type="number" ngModel="Num_Doc" class="form-control" id="Num_Doc" name="Num_Doc" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="correo" class="form-label">Usuario:</label>
                                    <input type="email" ngModel="correo" class="form-control" id="usuario" name="usuario" required>
                                </div>
                                <div class="col-md-12 mb-3 text-center"> 
                                    <button type="submit" class="btn btn-success custom-btn">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>

</html>
