<div class="container">
    <h1 id="arriba" class="text-emphasis-danger">Listado de Productos</h1>
    <table id="empresa" class="table custom-table bg-danger-subtle">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Peso</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>XD</td>
          <td>XD</td>
          <td>DX</td>
          <td>DX</td>
          <td id="editap">
            <button class="btn btn-primary">Editar</button>
            <button class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  